h2 {
    font-size: 30px;
    border: 2px solid darkcyan;
    padding: 5px;            
}
h3 {
    color: darkblue;
}
pre {
    font-size: medium; 
    font-family: sans-serif;
}
a:hover {
    background-color: yellow;;
}
li:nth-child(odd) {
    color: green;
}
