/* The three themes are defined using CSS variables (defined using the -- prefix), and the styles are applied to the body and various elements. */
:root {
  --green: #00FF00;
  --white: #FFFFFF;
  --black: #000000;
  --blue: #0000FF;
  --lightBlue: #ADD8E6;
}
/*The :root selector targets the root element of the document, which is the <html> element in an HTML page.

Using :root for defining CSS variables ensures that these variables are globally accessible throughout the entire stylesheet.

Once defined, these variables can be used anywhere in the CSS file by referencing them with the var() function.*/

body {
  background: var(--bg);
  color: var(--fontColor);
  font-family: Arial;
}

li {
  list-style: circle;
}

.list {
  list-style: square;
}

.light-theme {
  --bg: var(--green);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
}

.dark-theme {
  --bg: var(--black);
  --fontColor: var(--green);
  --btnBg: var(--white);
  --btnFontColor: var(--black);
}

.medium-theme {
  --bg: var(--lightBlue);
  --fontColor: var(--blue);
  --btnBg: var(--blue);
  --btnFontColor: var(--lightBlue);
}

.btn {
  position: absolute;
  top: 20px;
  left: 250px;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}